<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/blog.css">
    <title>Eventos</title>
</head>
<body>
    <header>
        <div class="container">
          <ul>
            <li><a href="/in">Início</li>
            <li><a href="/quems">Quem Somos</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/influencers">Influencer</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>

          <div class="loginn">
            <li><a href="/posts">Perfil</a></li>
          <img class="icon"src="/public/img/log-icon.png">
          </div>
        </div>
      </header>

      
      <section class="s1">
        <div class="titulo">
        <img class="logo" src="/public/img/Logo (1).png">
        <h1 class="h1titulo">Eventos</h1>
        </div>
  </section>




    <div class="postagens">
        <% for (var i = 0; posts.length > i; i++){ %>
        <h2><%= posts[i].titulo%></h2>
        <p><%= posts[i].data%></p>
        <p><%= posts[i].contato%></p>
        <p><%= posts[i].conteudo%></p>
        <a href="/deletar/<%=posts[i].id%>"><button class="botao">Deletar</button></a>
        <% } %>
    </div>

</body>
</html>